html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #546e7a;
  font-size: 15px;
  line-height: 24px;
  color: $text;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}