html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #546e7a;
  font-size: 15px;
  line-height: 24px;
  color: $text;
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}


@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }

}

.title {
  color: $bg;
  @include f700;
  line-height: 60px;
  text-align: center;
  margin-bottom: 30px;
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}

.breadcrumbs {
  padding: 45px 0 40px;
  background: $grey;

  &__list {
    li {
      display: inline-block;
      position: relative;

      &+li {
        margin-left: 20px;

        &::before {
          content: "-";
          position: absolute;
          color: $green;
          left: -12px;
          width: 4px;
          height: 1px;
        }
      }

      &:last-child {

        a,
        span {
          color: $bg;
        }
      }
    }

    a {
      color: #b0bec5;
    }
  }
}

.angle-right {
  position: relative;
  padding-left: 15px;

  &::before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: $green;
    font-size: 14px;

  }
}