@import "vars";
@import "global";
@import "fonts";

/*общие параметры для верхней части header*/
.header__top-inner {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*параметры для надписи в header*/
.header__text {
  /*margin-left: auto; отталкивает элемент максимально вправо*/
  margin-left: auto;
  margin-right: 30px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  height: 60px;
  display: flex;
  align-items: center;

}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 36px;
    }
  }

  a {
    color: #ffffff;
    font-size: 14px;
  }
}

/*======================================================
=======================Search===========================
========================================================*/
/*паратметры для фоновой картинки*/
.search {
  background-image: url(../images/search-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;

  &.page-search {
    min-height: 230px;

    .search__inner {
      padding: 60px 0 70px;

      &-text {
        margin-bottom: 25px;
      }
    }
  }
}

.search__inner {
  /*padding снизу меньше для того, чтоб если форма search будет расширяться вниз она не вылезала за bg картинку*/
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      @include f500;
      border: none;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;

      /*изменение placeholder при его активации*/
      &:focus {
        border: 1px solid #90a4ae;
      }

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }

    button {
      position: absolute;
      border: none;
      right: 17px;
      top: 17px;
      background-color: transparent;
    }
  }
}

/*==========================================================
=======================Products=============================
============================================================*/
.products {
  padding: 110px 0;
  background-color: $grey;

  .products__inner-btn {
    text-align: center;
    margin-bottom: 60px;


    button {
      border: none;
      padding: 12px 20px;
      background-color: #fff;
      color: bg;
      cursor: pointer;

      &+button {
        margin-left: 5px;
      }

      &.mixitup-control-active {
        background-color: $red;
        color: #ffffff;
        border: none;
      }
    }
  }
}

.products__inner-box {
  display: flex;
  flex-basis: 442px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -30px;


}

.product__item {
  max-width: 442px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-left: 30px;
  margin-bottom: 30px;

  &-img {
    min-height: 250px;
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    @include f700;
    align-items: center;
    border-bottom: 1px solid rgba(205, 214, 222, 0.75);

  }

  &-name {
    max-width: 310px;
  }

  &-title {
    display: block;
    color: $bg;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &-category {
    display: block;
    color: $green;
    font-size: 14px;
  }

  &-price {
    font-size: 20px;
    @include f700;
    color: $bg;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 230px;


    .avatar {
      width: 30px;
      height: 30px;
      background-position: center;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 14px;
      display: inline-block;
    }

    span {
      font-size: 14px;
      @include f500;
      align-items: center;
      max-width: 230px;


    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}

.products__buttom-btn {
  text-align: center;

  button {
    border: none;
    padding: 20px 30px;
    background-color: #fff;
    color: bg;
    cursor: pointer;
    margin-top: 70px;

    &+button {
      margin-left: 10px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #ffffff;
      border: none;
    }

  }
}

/*====================================================================
========================Product__slider===============================
======================================================================*/
.product-slider {
  margin: 120px 0;

  .product__item {
    margin-left: 20px;
  }

  &__title {
    margin-bottom: 55px;
  }



  & .slick-dots {
    text-align: center;

    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;

      &.slick-active {
        button {
          background: green;
        }
      }

      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        cursor: pointer;
        width: 16px;
        height: 16px;
        font-size: 0;
        margin-top: 50px;
        margin-bottom: 121px;
        outline: none;
      }
    }
  }
}

/*======================================================
==============advantages================================
========================================================*/
.advantages {
  background-color: $bg;
  padding: 120px 0;

  &-title {
    color: #ffffff;
    @include f700;
    font-size: 36px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    max-width: 370px;
    text-align: center;
    padding: 0 10px;

    &:hover {
      .advantages__item-img {
        background: $green;

        svg {
          fill: #fff;
        }
      }

      .advantages__item-title {
        color: $green;
      }
    }

    &-img {
      background: #fff;
      width: 114px;
      height: 114px;
      display: inline-block;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 30px;
      transition: all 0.5s;

      svg {
        width: 70px;
        height: 70px;
        transition: all 0.5s;
      }
    }

    &-title {
      margin-bottom: 25px;
      color: #fff;
      @include f500;
      font-size: 24px;
      transition: 0.5s;
    }

    &-text {
      color: #b0bec5;
      font-size: 15px;
    }
  }
}

.images-1 {
  padding-left: 24px;
}

/*==============================================
===================Author=======================
================================================*/
.author {
  background-image: url(../images/content/author-bg.jpg);
  min-height: 755px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;



  &__inner {
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 215px;
    max-width: 650px;
    width: 100%;
    padding: 25px;
  }

  &__text {
    @include f500;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    max-width: 280px;
    margin-right: 25px;

    span {
      @include f700;
    }
  }

  &__link {
    @include f500;
    font-size: 18px;
    line-height: 36px;
    color: $bg;
    margin-left: 25px;
    padding: 14px 40px;
    background: #fff;
  }
}

/*================================================
================Tutorials=========================
==================================================*/
.tutorials {
  padding: 75px 0 120px;

  &__title {
    font-size: 36px;
    @include f700;
    margin-bottom: 60px;
  }
}

.tutorials__items {
  display: flex;
  justify-content: space-between;
}

.item {
  max-width: 370px;
  width: 100%;
  min-height: 370px;

  &__images {
    width: 370px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__name {
    background: rgb(248, 248, 248);
    min-height: 100px;
    text-align: center;
    @include f700;
    font-size: 24px;
    line-height: 60px;
    padding: 20px 10px;
    color: $bg
  }
}

/*======================================================
========================footer==========================
======================================================*/
.footer {
  background: $bg;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 95px;
  }

  &__col {
    max-width: 270px;
    width: 100%;

    &-title {
      font-size: 22px;
      line-height: 36px;
      color: #fff;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 2px;
        bottom: 0;
        width: 51px;
        height: 3px;
        background: $green;
      }
    }

    &-text {
      font-size: 15px;
      line-height: 24px;
      color: #b7c3c8;
      margin-bottom: 35px;
    }

    &-list {
      a {
        margin-bottom: 15px;
        color: #b7c3c8;
        padding-left: 22px;
        position: relative;

        &::before {
          content: "\f105";
          position: absolute;
          color: $green;
          font-size: 18px;
          font-family: 'icomoon';
          left: 0;
        }
      }
    }

    &-menu {
      max-width: 220px;
    }
  }
}

.footer__info {
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;

  &::before {
    content: "\f041";
    font-family: 'icomoon';
    color: $green;
    font-size: 18px;
    position: absolute;
    left: 0;
  }

  &-phone {
    &::before {
      content: "\f095";
    }
  }
}

.footer__social-link {
  margin-bottom: 20px;

  li {
    display: inline-block;

    &+li {
      margin-left: 7px;
    }
  }

  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/css_sprites.png);


    &+a {
      margin-left: 7px;
    }
  }
}

.link-twitter {
  background-position: -28px 0;
}

.link-youtube {
  background-position: 0 -28px;
}

.link-pinterest {
  background-position: -28px -28px;
}

.link-linledin {
  background-position: -56px 0;
}

.footer__form-title {
  font-size: 20px;
  line-height: 36px;
  @include f500;
  color: #fff;
  margin-bottom: 22px;
}

.footer__form {
  position: relative;

  input {
    background: #2f3c43;
    border: none;
    font-size: 14px;
    height: 40px;
    width: 100%;
    color: #fff;
    display: block;
    padding: 0 60px 0 15px;

    &::placeholder {
      color: #697378;

    }
  }

  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background: $green;
    height: 40px;
    width: 45px;
    border: none;
    cursor: pointer;

    &::before {
      content: "\f124";
      position: absolute;
      font-family: 'icomoon';
      color: #fff;
      font-size: 30px;
      line-height: 36px;
      top: 2px;
      left: 10px;

    }
  }
}

.footer__copy {
  border-top: 1px solid rgb(66, 77, 83);
}

.footer__copy-text {
  font-size: 15px;
  line-height: 36px;
  @include f500;
  color: #919699;
  padding: 27px 0 34px;
  text-align: center;
}

/*=================================================================
======================product-page=================================
===================================================================*/
.product-page {
  background: $grey;
}

.product-page__inner {
  display: flex;
  padding-bottom: 90px;
}

.aside__item {
  background: #fff;
  border: 1px solid rgb(215, 215, 215);
  padding: 0px 32px 32px;
  width: 270px;
  margin-bottom: 30px;
  margin-left: 0;
}

.aside__title {
  font-size: 20px;
  padding: 22px 0 19px;
  @include f700;
  border-bottom: 1px solid rgb(221, 227, 232);
  color: $bg;
  margin-bottom: 25px;
}

.category.aside__item {
  margin-top: 0;
}

.caterogy__list {
  li {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;

    &::before {
      content: "\f105";
      position: absolute;
      color: #8bc34a;
      font-size: 18px;
      font-family: 'icomoon';
      left: 0px;
    }

    a {
      color: $bg;
    }

    span {
      color: #90a4ae;
      margin-left: 10px;
    }
  }
}

.irs-min,
.irs-max {
  display: none;
}

.irs--flat .irs-line {
  background: #f2f5f8;
  height: 5px;
}

.irs--flat .irs-bar {
  background: #37474f;
  height: 5px;

}

.irs--flat .irs-handle {
  top: 19px;
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  border-radius: 50%;
  background: #fff;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-single,
.irs-to {
  top: 46px;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  background: none;
  font-size: 15px;

  &::before {
    display: none;
  }
}

.product-page__btn {
  margin-top: 70px;
  font-size: 15px;
  padding: 16px 10px;
  color: #fff;
  background: $green;
  position: relative;
  border: none;
  @include f500;
  text-align: center;
  width: 100%;
  display: block;

  &::before {
    content: "\f002";
    color: #fff;
    font-family: 'icomoon';
    font-size: 15px;
    position: absolute;
    top: 15px;
    left: 58px;
  }
}

.product-page__aside {
  max-width: 270px;
  margin-right: 30px;

  .product__item {
    margin-left: 0;
    box-shadow: none;
    border-bottom: 1px solid #f4f6f7;
    margin-bottom: 27px;

    &-content {
      border-bottom: none;
      padding: 0;
      min-height: 75px;
    }

    &-info {
      padding: 0;
      min-height: 0;
      margin-bottom: 27px;
    }

    &-img {
      min-height: 120px;

    }

    &-title {
      font-size: 16px;
      width: 100%;
      @include f700;
      margin-bottom: 0;
    }

    &-category {
      font-size: 14px;
    }

    &-price {
      font-size: 16px;
      @include f700;
    }

    &-author .avatar {
      min-width: 30px;
      margin-right: 9px;
    }

    .rate-star {
      margin-right: 0;
    }

    .jq-ry-container {
      padding: 0;
    }
  }

  .aside__product-item {
    .product__item:last-child {
      border: none;
    }

    .product__item-info:last-child {
      margin-bottom: 0;
    }
  }
}

.top-seller__link {
  margin-top: 43px;
  font-size: 15px;
  padding: 16px 10px;
  color: #fff;
  background: $green;
  position: relative;
  border: none;
  @include f500;
  text-align: center;
  width: 100%;
  display: block;
}

.product-page__filter {
  border: 1px solid rgb(215, 215, 215);
  background: #fff;
  padding: 0px 20px;
  min-height: 60px;
  max-width: 870px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-sort {
    display: flex;
    align-items: center;
  }

  button {
    cursor: pointer;
    color: $bg;
    background: none;
    border: none;
    color: #839198;

    &.active {
      color: $green;
    }
  }

  .icon-sort-amount-desc {
    margin-right: 6px;
    font-size: 16px;
    color: #455a64;
  }

  .icon-unsorted {
    margin-left: 10px;
    font-size: 16px;
    color: #455a64;
    ;
  }

  .icon-th-large {
    padding: 0px;
    margin-right: 5px;
  }

  .icon-th-list {
    padding: 0;
    margin-left: 5px;
  }
}

.product-page__content {
  width: 100%;
}

.product-page__items {
  .product__item {
    margin-left: 0;
  }
}

.product-page__content {
  .product__item {
    max-width: 270px;

    &-img {
      min-height: 180px;
    }

    &-price {
      font-size: 14px;
    }

    &-title {
      font-size: 16px;
      margin-bottom: 0;
    }

    &-info {
      min-height: 65px;
      padding: 10px 20px;
    }

    &-content {
      padding: 25px 20px;
    }

    &-name {
      max-width: 185px;
    }

    &-star {
      .rate-star.jq-ry-container {
        margin-right: 3px;
      }
    }
  }

  .product__item-author .avatar {
    margin-right: 10px;
  }
}

.product-page__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.pagination__list {
  li {
    display: inline-block;



    &+li {
      margin-left: 10px;
    }

  }

  a,
  span {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 16px;
    @include f500;
    color: $bg;

    &.active {
      color: #fff;
      background: #e74c3c;
    }
  }

}