@import "vars";
@import "global";
@import "fonts";

/*общие параметры для верхней части header*/
.header__top-inner {
  height: 91px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*параметры для надписи в header*/
.header__text {
  /*margin-left: auto; отталкивает элемент максимально вправо*/
  margin-left: auto;
  margin-right: 30px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  height: 60px;
  display: flex;
  align-items: center;

}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 36px;
    }
  }

  a {
    color: #ffffff;
    font-size: 14px;
  }
}

/*======================================================
=======================Search===========================
========================================================*/
/*паратметры для фоновой картинки*/
.search {
  background-image: url(../images/search-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;
}

.search__inner {
  /*padding снизу меньше для того, чтоб если форма search будет расширяться вниз она не вылезала за bg картинку*/
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
  }

  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-weight: 500;
      border: none;
      outline: none;
      padding-left: 25px;
      padding-right: 60px;

      /*изменение placeholder при его активации*/
      &:focus {
        border: 1px solid #90a4ae;
      }

      &::placeholder {
        color: #90a4ae;
        font-weight: 500;
      }
    }

    button {
      position: absolute;
      border: none;
      right: 17px;
      top: 17px;
      background-color: transparent;
    }
  }
}

/*==========================================================
=======================Products=============================
============================================================*/
.products {
  padding: 110px 0;
  background-color: $grey;

  .products__inner-btn {
    text-align: center;
    margin-bottom: 60px;


    button {
      border: none;
      padding: 12px 20px;
      background-color: #fff;
      color: bg;
      cursor: pointer;

      &+button {
        margin-left: 5px;
      }

      &.mixitup-control-active {
        background-color: $red;
        color: #ffffff;
        border: none;
      }
    }
  }
}

.products__inner-box {
  display: flex;
  flex-basis: 442px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -30px;


}

.product__item {
  max-width: 442px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-left: 30px;
  margin-bottom: 30px;

  &-img {
    min-height: 250px;
    background-clip: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    min-height: 90px;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid rgba(205, 214, 222, 0.75);

  }

  &-name {
    max-width: 310px;
  }

  &-title {
    display: block;
    color: $bg;
    font-size: 18px;
  }

  &-category {
    display: block;
    color: $green;
    font-size: 14px;
  }

  &-price {
    font-size: 20px;
    font-weight: 700;
    color: $bg;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 230px;


    .avatar {
      width: 30px;
      height: 30px;
      background-position: center;
      border-radius: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      margin-right: 14px;
      display: inline-block;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      align-items: center;
      max-width: 230px;


    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}

.products__buttom-btn {
  text-align: center;

  button {
    border: none;
    padding: 20px 30px;
    background-color: #fff;
    color: bg;
    cursor: pointer;
    margin-top: 70px;

    &+button {
      margin-left: 10px;
    }

    &.mixitup-control-active {
      background-color: $red;
      color: #ffffff;
      border: none;
    }

  }
}

/*====================================================================
========================Product__slider===============================
======================================================================*/
.product-slider {
  margin: 120px 0;



  &__title {
    margin-bottom: 55px;
  }

  & .slick-dots {
    text-align: center;

    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;

      &.slick-active {
        button {
          background: green;
        }
      }

      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        cursor: pointer;
        width: 16px;
        height: 16px;
        font-size: 0;
        margin-top: 50px;
        margin-bottom: 121px;
        outline: none;
      }
    }
  }
}